.navbar-utama {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 50px;
    padding: 5px 30px;
    color: #9EB384;
}

.navbar-title {
    font-size: 28px;
    padding-left: 180px;
    font-weight: 400;
}

.navbar-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-left: 300px;
}

.navbar-icons-search {
    cursor: pointer;
}

.navbar-icons-cart {
    cursor: pointer;
}

.navbar-login {
    padding: 5px 20px;
    background-color: #9EB384;
    color: #FFFFFF;
    border: 1px solid #9EB384;
    border-radius: 5px;
}